.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1100px;
}

.cabecalho__logo {
    height: 150px;
    width: 150px;
}

.cabecalho__item {
    border-bottom: 5px solid transparent;
    color: #F2F2F2;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.cabecalho__item:hover {
    border-bottom: 5px solid #F2F2F2;
}

.cabecalho__visitante {
    border-bottom: 5px solid transparent;
    color: #F2F2F2;
    font-size: 18px;
}

.cabecalho__perfil, .cabecalho__carrinho {
    color: #F2F2F2;
    cursor: pointer;
    transform: scale(1.6);
}
