@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(180deg, #0F90A2 0%, rgba(180, 211, 217, 0.213542) 78.65%, rgba(225, 229, 233, 0) 100%);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --swiper-navigation-color: #0F90A2;
  --swiper-pagination-color: #0F90A2;
}
