.menu-categorias {
    background-color: #0B6C79;
    width: 300px;
    position: absolute;
    top: 100px;
    left: calc(50vw - 240px);
    z-index: 1;
}

.categorias__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.item__nome {
    color: #F2F2F2;
    font-size: 18px;
}

.item__icone {
    color: #F2F2F2;
    transform: scale(1.2);
    cursor: pointer;
}

.item__subitem {
    background-color: #0F90A1;
    padding: 1.5rem 3rem;
    box-sizing: border-box;
    width: 100%;
    color: #F2F2F2;
}
